/* BASIC STYLES HERE */

label{
  display: block;
}

input{
  width: 100%;
}

textarea{
  width: 50%;
}

.checkbox{
  width: auto;
}

.color{
  width: 10vw;

}

.car-img{
  height: 40vh;
  width: 30%;
  object-fit: cover;
}

.car-border{
  border-style: solid;
  border-width: 5px;
}